@theme {
  --color-background: #ffffff;
  --color-background-component: #dee7f2;
  --color-primary: #50bfe8;
  --color-secondary: #464f56;
  --color-accent: #70d3ba;
  --color-input: #f9f9f9;
  --color-backdrop: #a2a2a2;
  --color-danger: #fe8182;
  --color-warning: #ff9933;
  --color-success: #60d6a4;

  --color-br-regular: #e0e0e0;

  --color-tx-regular: #303030;
  --color-tx-placeholder: #727272;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}
