@layer base {
  html[data-theme="dark"] {
    --color-background: #1e1f25;
    --color-background-component: #131517;
    --color-primary: #50bfe8;
    --color-secondary: #464f56;
    --color-accent: #70d3ba;
    --color-input: #1c1c1c;
    --color-backdrop: #a2a2a2;
    --color-danger: #fe8182;
    --color-warning: #ff9933;
    --color-success: #60d6a4;

    --color-br-regular: #343434;

    --color-tx-regular: #e4ebf5e6;
    --color-tx-placeholder: #727272;
  }
}
